<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onButton1()">Realm 1</button>
    <p> {{ text1 }}</p>
    <p> {{ ob }}</p>
    <button class="btn btn-primary" (click)="onButton2()">Realm 2</button>
    <p> {{ text2 }}</p>
  </div>
</div>
